html[dataTheme="high"] {
  color-scheme: dark;
}

html[dataTheme="high"] :root {
  --bg: #000000;
  --bg2: #000000;

  --panel: rgba(255, 255, 255, 0.08);
  --panel2: rgba(255, 255, 255, 0.12);
  --stroke: rgba(255, 255, 255, 0.4);
  --stroke2: rgba(255, 255, 255, 0.6);

  --fg: rgba(255, 255, 255, 1);
  --fg2: rgba(255, 255, 255, 0.92);
  --fg3: rgba(255, 255, 255, 0.82);

  --shadow: none;
}
